@font-face {
  font-family: "RixYeoljeongdo_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main {
  display: grid;
  place-items: center;
  align-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #fffbe9;
}
.title {
  position: relative;
  font-size: 64px;
  letter-spacing: -1px;
  text-align: center;
  font-family: "RixYeoljeongdo_Regular";
  transition: all 0.2s;
  width: 200px;
  height: 100px;
}
.title .chord {
  position: absolute;
  color: #c59230;
  transition: all 0.5s;
  top: -14px;
  left: -94px;
}
.title .space {
  position: absolute;
  color: #362904;
  transition: all 0.5s;
  top: 45px;
  left: 58px;
}
.title img {
  opacity: 0;
  position: absolute;
  top: 21px;
  left: 60px;
  transition: all 1s;
}
.title:hover .chord {
  transform: translate(-100px, 59px);
}
.title:hover .space {
  transform: translate(80px, -59px);
}
.title:hover img {
  opacity: 1;
}
