.main {
  display: flex;
  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;
  background: #fffbe9;
}
.homeBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 34px;
  height: 37px;
}

.top {
  height: 20vh;
  margin-left: 10vw;
  padding-top: 20px;
}

.middle {
  position: relative;
  height: 55vh;
}
.position {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  place-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.position h1 {
  font-family: "Pretendard-Regular", "Source Sans Pro", sans-serif;
  margin: 0;
}
.position div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.position span {
  margin: 0 10px;
  font-family: "Pretendard-Regular", "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.position i {
  transition: all 0.2s;
  cursor: pointer;
}
.position i:hover {
  scale: 1.2;
}
.input {
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  font-family: "Pretendard-Regular", "Source Sans Pro", sans-serif;
  font-size: 18px;
  gap: 20px;
  cursor: pointer;
}
.bottom {
  height: 25vh;
  background: #f6e6cd;
}

.error {
  background-color: tomato;
  color: white;
}
