.container {
  display: flex;
  align-items: baseline;
  position: relative;
}
.key {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: bold;
  user-select: none;
}
.scale {
  position: relative;
  padding-top: 17px;
  user-select: none;
}
.tension {
  position: absolute;
  top: 0;
  font-weight: bold;
}
