.container {
  display: flex;
  position: relative;
}
.key {
  position: relative;
  font-weight: bold;
  user-select: none;
}
.half {
  position: absolute;
  top: -5px;
}
.scale {
  position: relative;
  padding-top: 17px;
  user-select: none;
}
.tension {
  position: absolute;
  bottom: 28px;
  right: -18px;
  font-weight: bold;
}
